/* Reset CSS */
:root {
    --white-text: #FFFFFF;
    --blue-text: #3C64B1;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    line-height: 1.8rem;
    background:rgba(0, 0, 0, 0.25)
}

*, *:before, *:after {
    box-sizing: inherit;
 }


/* common */


.size-32 {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 3rem;;
}

.size-40 {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
}

.shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*  */
#main {
    width: 1440px;
    height: 2664px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.grid {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;

}

/* header */
#header {
    height: 8.8rem;
    background-color: #F3F6FA;
    position: relative;
    z-index: 1;
}

#header .header__inner {
    height: 8.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:  nowrap;
}
 .logo {
     height: 4.3rem;
 }

#header .header__navbar {
    margin-left: 5.2rem;
} 

/* Mobile none */
.header-mobile__inner {
    display: none;
}

.menu-nav {
    font-size: 4rem;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobile_nav {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #FFF;
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .mobile_nav {
    transform: translateX(0%);
    opacity: 1;
}

.close {
    position: fixed;
    font-size: 4rem;
    color: #666;
    top: 0.5rem;
    right: 1rem;
}

.header-mobile__navbar-list {
    color: #333;
    padding: 0px 26px;
    font-size: 1.4rem;
    list-style-type: circle;
}



/* header */
#header .header__navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:  nowrap;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}

#header .header__navbar-item {
    margin-left: 3.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    color: #373F41;
}

.btn-log {
    padding: 13px 0;
    font-size: 1.4rem;
    color: var(--blue-text);
    border: none;
    background: #F3F6FA;
    cursor: pointer;

}

.btn-start {
    padding: 12px 18.77px;
    background: var(--blue-text);
    color: var(--white-text);
    border: 1px solid #3C64B1;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-style: normal;
    margin-left: 2rem;
    cursor: pointer;
}

/* slider */
#slider {
    position: relative;
    height: 560px;
    background: url(../imgs/bg.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider .fa-leaf {
    width: 24px;
    height: 24px;
    font-size: 21px;

    position: absolute;
    left: 11%;
    top: -9px;
}

#slider .slider__content {
    height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#slider .slider__content-title {
    width: 730px;
    font-style: normal;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.6rem;
    color: #373F41;
    letter-spacing: 0.2px;
    margin: 0;
}

#slider .slider__content-description {
    width: 730px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #737B7D;
    margin-top: 3.2rem;
    letter-spacing: 0.6px;
}

.slider__form-btn {
    display: inline-flex;
    margin-top: 4rem;   
    height: 4.2rem;
}

.btn-free {
    width: 136px;
    border: 1px solid #3C64B1;
    background: var(--blue-text);
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    margin-right: 1.2rem;
    cursor: pointer;
}

.btn-learn {
    width: 115px;
    border: 1px solid #3C64B1;
    color: var(--blue-text);
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    margin-left: 1.2rem;
    cursor: pointer;
}

/*  */
#newsletter {
    margin-top: 4.9rem;
    height: 336px;
}

#newsletter .newsletter__title {
    height: 108px;
    text-align: center;
}

#newsletter .newsletter__title-text {
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 0;
}

#newsletter .newsletter__title-description {
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin: 24px 0 0;
}

#newsletter .row {
    height: 204px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3rem;
}

#newsletter .newsletter__info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#newsletter .newsletter__info-text {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 2.4rem 0 0;
}

#newsletter .newsletter__info-description {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    color: #373F41;
    margin-top: 12px;
}

#newsletter .newsletter__info-cover {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    color: var(--blue-text);
    margin-top: 20px;
    height: 18px;
    width: 60px;
}


/*  */
#introduction {
    margin-top: 2.2rem;
    height: 1138px;
}

#introduction .introduction__one {
    height: 534px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#introduction .introduction__one-image {
    width: 540px;
    max-width: 100%;
}

#introduction .introduction__one-content {
    width: 540px;
    height: 364px;
}

#introduction .introduction__one-title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 0;
}

#introduction .introduction__one-description {
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.6px;
    color: #737B7D;
    margin-top: 32px;
}

#introduction .introduction__one-content form {
    margin-top: 40px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

#introduction .input-primary {
    width: 377px;
    background: #F4F5F4;
    border: none;
    padding: 0;

    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    color: #737B7D;
}

.btn-primary {
    width: 139px;
    color: var(--white-text);
    background: var(--blue-text);
    border: none;
    padding: 0;

    font-size: 1.4rem;
    letter-spacing: 0.3px;

}

#introduction .introduction__one-primary {
    height: 32px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.15px;
    color: #737B7D;
}

#introduction .introduction__two {
    height: 604px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#introduction .introduction__two-image {
   width: 540px;
   max-width: 100%;
}

#introduction .introduction__two-content {
    width: 540px;
    height: 290px;
}

#introduction .introduction__two .introduction__two-title {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 0;
}

#introduction .introduction__two .introduction__two-descriptions {
    margin-top: 56px;
    height: 114px;
    display: flex;
    justify-content: space-between;
}

#introduction .introduction__two-layout {
    width: 255px;
}

#introduction .introduction__two .introduction__two-text {
    height: 66px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin: 1.6rem 0 0; 
}



/* testimonial */
#testimonial {
    height: 370px;
    margin: 2rem 0px 7.9rem;
}

.testimonial__rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* #testimonial .testimonial__images {
   
} */

#testimonial .testimonial-col {
    width: 255px;;
    height: 368px;
}

#testimonial .testimonial__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 3.2rem 0 0;
}

#testimonial .testimonial__description {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin: 1.2rem 0 0;
}